.foyoflow-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.foyoflow-direction-row{
	flex-direction: row;
	padding-top: 40px;
	padding-bottom: 40px;
}

.foyoflow-direction-column{
	flex-direction: column;
	padding-left: 80px; 
	padding-right: 100px;
}

/* */
.foyoflow-step{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #DDD; 
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.foyoflow-step-done{
	border: 1px solid #15BF63;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='31360' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='200'><defs><style type='text/css'></style></defs><path d='M512 0C229.216 0 0 229.216 0 512s229.216 512 512 512 512-229.216 512-512S794.784 0 512 0zM416 832 204 556l94.016-98.016 118.016 150.016 370.016-302.016 46.016 46.016L416 832z' p-id='31361' data-spm-anchor-id='a313x.7781069.0.i33' fill='#15BF63'></path></svg>");
	background-repeat: no-repeat;
	background-size: cover;
}

.foyoflow-direction-row .foyoflow-line{
	height: 1px;
	background: #DDD;
	flex-grow: 1;
	flex-shrink: 1;
}

.foyoflow-direction-column .foyoflow-line{
	width: 1px;
	background: #DDD;
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 20px;
}

.foyoflow-line-done{
	background-color: #15BF63 !important;
}

.foyoflow-direction-row .foyoflow-step-label{
	position: absolute;
	white-space: nowrap;
	bottom: -40px;
}
.foyoflow-direction-row .foyoflow-step-label-odd{
	bottom: -24px !important;
}


.foyoflow-direction-column .foyoflow-step-label{
	position: absolute;
	white-space: nowrap;
	left: 30px;
}

/*.foyoflow-step:nth-child(odd) .foyoflow-step-label{
	bottom: -30px;
}

.foyoflow-step:nth-child(even) .foyoflow-step-label{
	bottom: -50px;
}*/

.foyoflow-direction-row .foyoflow-flag{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: -38px;
}

.foyoflow-direction-column .foyoflow-flag{
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	right: 26px;
}

.foyoflow-flag .foyoflow-flag-icon{
	width: 22px;
	height: 22px;
}

.foyoflow-flag-label{
	white-space: nowrap;
}

/*foyoflow-step-waiting*/
.foyoflow-step-waiting{
	border: 1px solid #FF9800; 
}

.foyoflow-step-waiting:before {
    width: 7px;
    height: 2px;
    top: 8px;
    left: 8px;
    transform-origin: 1px 1px;
    animation: hrhand 12s linear infinite;
}
.foyoflow-step-waiting:after {
    width: 9px;
    height: 2px;
    top: 8px;
    left: 8px;
    transform-origin: 1px 1px;
    animation: minhand 4s linear infinite;
}
.foyoflow-step-waiting:after, .foyoflow-step-waiting:before {
    position: absolute;
    content: "";
    background-color: #FF9800;
}

@keyframes minhand{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

@keyframes hrhand{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

/*foyoflow-step-processing*/
.foyoflow-step-processing{
	border: 1px solid #03A9F4; 
}

.foyoflow-step-processing:before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.3;

    animation: scaleout 1.5s linear infinite;
}
.foyoflow-step-processing:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.1;

    animation: scaleout 1s linear infinite;
}
.foyoflow-step-processing:after, .foyoflow-step-processing:before {
    position: absolute;
    content: "";
    background-color: #03A9F4;
}

@keyframes scaleout {
	0% {
		transform: scale(0)
	}

	100% {
		transform: scale(2);
		opacity: 0
	}
}